.container {
  width: 100%;
  margin-top: 0.8rem;
}

.text {
  margin-top: 0.8rem;
  padding: 0.4rem;
  width: 100%;
  border-radius: 0.2rem;
  border: none;
  resize: none;
  display: block;
  background-color: white;
  font-size: 1.2rem;
  outline: none;
}

.buttons {
  margin-top: 0.4rem;
}

.ml04 {
  margin-left: 0.4rem;
}
