.img,
.placeHolder {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.placeHolder {
  border: 1px solid white;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
